body {
    background-color: #d7cdcd;
}

.nav-content {
    background-color: #f4f0f099;
    height: 50px;
    margin-bottom: 30px;
}

.content-navigation {
    height: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    width: 100%;
}

.img-dumbways {
    width: 50px;
}

.ul-navigation {
    list-style-type: none;
    font-size: large;
    display: flex;
    gap: 50px;
    align-items: center;
    width: 100%;
    margin-left: 20px;
}

.btn-content {
    background-color: black;
    list-style-type: none;
    color: white;
    padding: 10px;
    width: 100px;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    margin-right: 40px;
}

.container {
    border: solid 1px #f4f0f099;
    background-color: #f4f0f099;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.title-me {
    font-size: 15px;
}

.paragraf-me {
    width: 600px;
    display: flex;
    flex-direction: row;

}

.img-me {
    width: 250px;


}

.button-content {
    background-color: black;
    color: white;
    border-radius: 100px;
    width: 100px;
    margin-bottom: 50px;
}

.download-content {
    display: flex;
    flex-direction: row;

}

.download-img {
    height: 20px;
    width: 30px;
    padding-left: 10px;
}


.button-me {
    background-color: black;
    color: white;
    border-radius: 100px;
    width: 100px;
    height: 20px;
}

.download-me {
    margin-right: 620px;
    gap: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.logo-me {
    margin-right: 700px;
    display: flex;
    flex-direction: row;
    gap: 40px;

}

.img-logo {
    width: 20px;
    margin-bottom: 20px
}